.inline-block {
    display: inline-block;
    vertical-align: top;
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    padding: 16px;
    text-align: center;

}
.logo {
    display: inline-block;
    width: 50%;
    text-align: left;
    height: 100px;
}
.navigation {
    display: inline-block;
    width: 3100px;
    padding: 20px;
    background-color: #bbbbe9;
    vertical-align: bottom;
    justify-content: flex-end;
}
li {
    display: inline-block;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1900px 1fr;
}
    
.intro {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    justify-content: center;
    width: 1100px;
}
.downloadbutton {
    width: 1200px;
    height: 200px;
    font-size: 120px;
    color: blue;
    background-color: rgb(1, 1, 49);
    border-top: 20px;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;


}
.image1 {
    width: 2000px;
    vertical-align: right;
    justify-content: center;
    align-items: flex-end;

} 
.content {
    width: 500px;
    margin: 0 auto;
}
.intro {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1000px;
    z-index: +2;
    color: black;
}
.myProjects {
    display: inline-block;
    font-size: 50px;
}
.flexContainer {
    display:grid;
    grid-template-columns: 30px 10px;
    justify-content: space-around;
    align-items: center;
    
    
}
.footer1 {
    background-color: #bbbbe9;
    padding: 20px;
    justify-content: end;
    align-items: stretch;
    height:800 px;
    vertical-align: bottom;
    justify-content: flex-end;

}
footer>ul>li {
    color: rgb(60, 52, 146);
}
.intro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    z-index: +1;
    color: black;
}
.downloadbutton {
    width: 1200px;
    height: 200px;
    font-size: 120px;
    color: #020214;
    background-color: #bbbbe9;

} 
.grid-container1 {
    display: grid;
    grid-template-areas:
    "project project"
    "project project";
    grid-column-gap: 400px;
    justify-content: center;
    align-items: center;
    height: 50vh;
}